<template>
  <div>
    <div class="page-title">
      <h3>{{'Categories'| localize}}</h3>
    </div>
    <section>
      <Loader v-if="loading" />
      <div class="row" v-else>
        <categoryCreate @created="addNewCategory" />
        <categoryEdit
          v-if="categories.length"
          :categories="categories"
          @updated="updated"
          :key="categories.length + updateCount"
        />
        <p v-else class="center">Категорий пока нет</p>
      </div>
    </section>
  </div>
</template>
<script>
import categoryCreate from '@/components/categoryCreate'
import categoryEdit from '@/components/categoryEdit'
export default {
  data: () => ({
    categories: [],
    loading: true,
    updateCount: 0
  }),
  components: {
    categoryCreate,
    categoryEdit
  },
  async mounted() {
    this.categories = await this.$store.dispatch('fetchCategories')
    this.loading = false
  },
  methods: {
    addNewCategory(category) {
      this.categories.push(category)
    },
    updated(category) {
      const idx = this.categories.findIndex(c => c.id === category.id)
      console.log(this.categories[idx])
      this.categories[idx].title = category.title
      this.categories[idx].limit = category.limit
      this.updateCount++
    }
  }
}
</script>
