<template>
  <div>
    <Loader v-if="loading" />
    <div v-else-if="record && category">
      <div class="breadcrumb-wrap">
        <router-link to="/history" class="breadcrumb">{{'History' | localize}}</router-link>
        <a @click.prevent class="breadcrumb">
          {{ record.type === 'outcome' ? 'Consumption' : 'Income' | localize }}
        </a>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div
            class="card"
            :class="{
              red: record.type === 'outcome',
              green: record.type === 'income'
            }"
          >
            <div class="card-content white-text">
              <p>{{'Description' | localize}}: {{ record.description }}</p>
              <p>{{'Amount' | localize}}: {{ record.amount | currency }}</p>
              <p>{{'Category' | localize}}: {{ category.title }}</p>

              <small>{{ record.date | date('datetime') }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="center" v-else>Запись с id={{ $route.params.id }} не найдена</p>
  </div>
</template>
<script>
export default {
  data: () => ({
    record: {},
    loading: true,
    category: null
  }),
  async mounted() {
    this.record = await this.$store.dispatch(
      'fetchRecordById',
      this.$route.params.id
    )
    this.category = await this.$store.dispatch(
      'fetchCategoryById',
      this.record.category
    )
    this.loading = false
  }
}
</script>
