<template>
  <div>
    <div class="page-title">
      <h3>{{'History_recordHistory' | localize}}</h3>
    </div>

    <div class="history-chart">
      <canvas ref="canvas"></canvas>
    </div>

    <Loader v-if="loading" />
    <p v-else-if="!records.length" class="center">
      Записей пока нет. <router-link to="/record">Добавить</router-link>
    </p>
    <section v-else>
      <historyTable :records="items" />
      <Paginate
        v-model="page"
        :page-count="pageCount"
        :click-handler="pageChangeHandler"
        :prev-text="'Prev' | localize"
        :next-text="'Next' | localize"
        :container-class="'pagination'"
        :page-class="'waves-effect'"
      />
    </section>
  </div>
</template>

<script>
import paginationMixin from '@/mixins/pagination.mixin'
import historyTable from '@/components/historyTable'
import localizeFilter from '../filters/localize.filter'
import { Pie } from 'vue-chartjs'
export default {
  data: () => ({
    loading: true,
    records: []
  }),
  extends: Pie,
  components: {
    historyTable
  },
  mixins: [paginationMixin],
  async mounted() {
    this.records = await this.$store.dispatch('fetchRecords')
    const categories = await this.$store.dispatch('fetchCategories')
    this.setup(categories)
    this.loading = false
  },
  methods: {
    setup(categories) {
      this.setupPagination(
        this.records.map(item => {
          return {
            ...item,
            categoryName: categories.find(c => c.id === item.category).title,
            typeClass: item.type == 'outcome' ? 'red' : 'green',
            typeText: item.type == 'outcome' ? localizeFilter('Consumption') : localizeFilter('Income')
          }
        })
      )
      this.renderChart({
        labels: categories.map(item => item.title),
        datasets: [
          {
            label: 'Расходы по категориям',
            data: categories.map(item => {
              return this.records.reduce((total, r) => {
                if (r.category === item.id && r.type === 'outcome') {
                  total += +r.amount
                }
                return total
              }, 0)
            }),
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }
        ]
      })
    }
  }
}
</script>
