<template>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>{{'Amount' | localize}}</th>
        <th>{{'Date' | localize}}</th>
        <th>{{'Category' | localize}}</th>
        <th>{{'Type' | localize}}</th>
        <th>{{'Open' | localize}}</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(record, index) in records" :key="record.key">
        <td>{{ index + 1 }}</td>
        <td>{{ record.amount | currency }}</td>
        <td>{{ record.date | date('date') }}</td>
        <td>{{ record.categoryName }}</td>
        <td>
          <span class="white-text badge" :class="record.typeClass">{{
            record.typeText
          }}</span>
        </td>
        <td>
          <button
            v-tooltip="toolTipText"
            class="btn-small btn"
            @click="$router.push('/detail/' + record.id)"
          >
            <i class="material-icons">open_in_new</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import localizeFilter from '../filters/localize.filter'
export default {
  props: {
    records: {
      type: Array,
      requiered: true
    }
  },
  computed:{
      toolTipText(){
          return localizeFilter('History_openTheEntry')
      }
  }
}
</script>
